.facetsContainer {
    max-width: 320px;
    display: inline-block;
    float: left;
    margin-right: 67px;
    background-color: #ebeff7;
}

.stylesContainer {
    background-color: #fbfcff;
    padding: 18px;
    margin-bottom: 24px;
    box-shadow: 0 2px 8px 0 rgba(19, 33, 66, 0.07);
    border-radius: 3px;
}

.stylesHeaderContainer {
    margin-bottom: 21px;
}

.stylesHeader {
    margin: 0;
    display: inline-block;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.05;
    color: #102542;
}

.stylesIsDisplayedIconContainer {
    display: inline-block;
    margin: 0;
    float: right;
}

.stylesIsDisplayedIcon {
    color: #aaabbc;
}

.stylesList{
    height: 430px;
    overflow: hidden;
    position: relative;
}

.stylesList::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 36px;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(251, 252, 255, 0.9) 31%, #fbfcff 60%);
    left: 0;
    bottom: 0;
}

.moreStylesButton {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 300;
    width: 100%;
    height: 30px;
    background-color: #636471;
    border: none;
    line-height: 1.29;
    color: #ffffff;
}

.priceRangeContainer {
    background-color: #fbfcff;
    padding: 18px;
    margin-bottom: 24px;
    display:inline-block;
    position: relative;
    box-shadow: 0 2px 8px 0 rgba(19, 33, 66, 0.07);
    background-color: #fbfcff;
}

.priceRangeHeader {
    margin: 0 0 21px 0;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.05;
    color: #102542;
}

.rangeContainer {
    margin-bottom: 21px;
}

.rangeInputLabel {
    color: #68697b;
    font-size: 0.8rem;
    line-height: 1.29;
}

.rangeInput {
    width: 61px;
    height: 36px;
    background-color: #ebeff7;
    border: none;
    border-bottom: 2px solid #aaabbc;
    padding-left: 5px;
    color: #68697b;
    font-size: 14px;
    line-height: 1.29;
    margin-right: 20px;
}

.rangeButton {
    width: 35px;
    height: 36px;
    border-radius: 3px;
    box-shadow: 0 2px 6px 0 rgba(19, 33, 66, 0.07);
    background-color: #636471;
    font-family: Roboto;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.29;
    color: #ffffff;
    outline: none;
    border: none;
}

.rangeLine {
    height: 2px;
    background-color: #ebeff7;
    margin-bottom: 24px;
}
.startRange{
    width: 35px;
    height: 35px;
    border-radius: 20.5px;
    box-shadow: 0 1px 3px 0 rgba(12, 36, 62, 0.2);
    background-color: #f1f3f7;
    display:inline-block;
    position: absolute;
    z-index: 10;
    text-align:center;
}
.RangeInputLine{
    width: -webkit-fill-available;
    max-width: 100%;
    height: 9px;
    border-radius: 4.5px;
    margin-top:12px;
    /*margin-left: -5px;*/
    background-color: #aaabbc;
    display:inline-block;
    position:absolute;
    box-sizing: border-box;
    margin-right: 59px;
}
.endRange{
    width: 35px;
    height: 35px;
    border-radius: 20.5px;
    box-shadow: 0 1px 3px 0 rgba(12, 36, 62, 0.2);
    background-color: #f1f3f7;
    float:right;
    display:inline-block;
    position: relative;
    text-align:center;
}
.dotsIsDisplayedIconContainer{
   display: inline-block;
   /* margin: 0;
    float: right; */
    color: #adb5bd;
    font-size: 12px;
}

.enddotsIsDisplayedIconContainer{
   display: inline-block;
    color: #adb5bd;
    font-size: 12px;
}
.colorsContainer {
    background-color: #fbfcff;
    padding: 18px;
    padding-bottom: 6px;
    margin-bottom: 24px;
    box-shadow: 0 2px 8px 0 rgba(19, 33, 66, 0.07);
    border-radius: 3px;
    
}

.colorsHeaderContainer{
    margin-bottom: 21px;
    padding-bottom: 15px;
    border-bottom: 1px solid rgba(221, 222, 233, 0.6);
}

.colorsHeader{
    margin: 0;
    width:103px;
    display: inline-block;
    font-size: 1.2rem;
    font-family: Helvetica;
    font-weight: bold;
    line-height: 1.05;
    color: #102542;
}
.colorsIsDisplayedIconContainer{
    display: inline-block;
    margin: 0;
    float: right;
}
.colorsIsShowedIconContainer{
    display: inline-block;
    margin: 0;
    margin-left:12px;
}
.rangeLinesecond{
    height: 2xpx;
    background-color: #ebeff7;
    margin-bottom: 24px;
}
.colorsList{
    height: 150px;
    overflow: hidden;
    position: relative;
}

.moreColorsButton{
    width: 100%;
    height: 30px;
    background-color: #636471;
    border: none;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.29;
    color: #ffffff;
}

.reviewsContainer{
    height: 72px;
    background-color: #fbfcff;
    padding: 18px;
    border-radius: 3px;
    box-shadow: 0 2px 6px 0 rgba(19, 33, 66, 0.07);
}

.reviewsHeaderContainer{
    margin-bottom: 16px;
}

.reviewsHeader{
    margin: 0;
    width:103px;
    display: inline-block;
    font-size: 20px;
    line-height: 1.05;
    color: #102542;
}

.reviewsStarContainer{
    width:139px;
    height: 24px;
}



