.mainViewContainer {
    background-color: #ebeff7;
    padding: 33px 40px 20.5px 33px;
    width:auto;
}
@media only screen and (max-width: 701px) {
.facetsContainer{
  	/*display:none;*/
 }

.FilterButton{
  	display:inline-block;
  	float:right;
  	/*margin-right:15px;*/
}
.New-Arrival{
	margin-left:-80px;
	 font-size: 1.125rem;
	 font-weight:500;
	 margin-top: 18px;	
}
.results{
	vertical-align: top;
    float: left;
}


.productListContainer{
  	width:100%;
}
.productImage {
    border-radius: 10px 0px 0px 10px;
}
.productImageContainer,.productDetailsContainer{
	display:inline-block!important;
	height:100%;
	position:relative;
	width:48%;
	padding:0px;
	margin:0px;
}
.productOptions {
    font-size: 0.8rem;
    }

.productDetailsContainer{
	box-sizing:border-box;
	padding:0px 0 0 10px;
	position:absolute;
}
.productImageContainer > img {
	width:100%;
	object-fit:fill;
	height:100%;
	padding:0px;
	margin:0px;
}
.productContainer {
	border-radius: 10px;
	position:relative;
    width: 100% !important;
    display: block;
    height:200px;
}
.productName {
     font-size: 0.7rem;
    }
.productShippingContainer {
    margin-top:10px;
}
.rangeInput {
    width: 40px;
    height: 36px;
}
.priceRangeContainer {
    width: -webkit-fill-available;
}
.colorsIsShowedIconContainer {

    margin-left: 6px;
    font-size: 0.8rem;
}
.colorsIsDisplayedIconContainer {
	font-size: 0.8rem;
	margin-top: 7px;
}

.colorItemCheckBoxContainer {
     display: inline-block; 
}
.rangeButton {
    margin-top: 10px;
}
}
@media only screen and (max-width: 420px) {
.rangeInputLabel {
  	display:block;
  	margin-bottom: 10px;
 }